<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionName="@string/version" package="jhashpassword.gui.android" android:versionCode="6">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:description="@string/app_desc" android:allowClearUserData="true"
		android:enabled="true" android:debuggable="false" android:theme="@android:style/Theme.NoTitleBar">
		<activity android:name=".HPHome" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="de.janbusch.jhashpassword.settings.HPSettings" android:label="@string/app_name_settings">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
		<activity android:name="de.janbusch.jhashpassword.settings.Settings" android:label="@string/app_name_settings">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
		<activity android:name="de.janbusch.jhashpassword.settings.HPSettingsHost"
			android:label="@string/app_name_host">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
		<activity android:name="de.janbusch.jhashpassword.impexp.HPImpExp" android:label="@string/app_name_impexp"
			android:permission="android.permission.WRITE_EXTERNAL_STORAGE">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
		<activity android:name="de.janbusch.jhashpassword.impexp.HPChooseFile" android:label="@string/app_name_filechooser">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
		<activity android:name="de.janbusch.jhashpassword.sync.HPSync" android:label="@string/app_name_sync">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
		<activity android:name="de.janbusch.jhashpassword.settings.HPSettingsGoPro"
			android:label="@string/app_name_gopro">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
</manifest> 